body {
  user-select: auto;
  _background-color: #4d4d4d;
  font-family:fantasy;

  background-image: url("../../img/neko.png");

}

.ha a{
  color: #747474;
  font-size: 130%;
  text-decoration: none;
}

.text {

}

.text h1{
  color:red;
}
.text p{
  font-size: 120%;
}

.tb {
  margin: auto;
  text-align: center;
}

.tb a{
  color: white;
}

.tb p{
  color: white;
}

.tb input {
  width: 300px;
}

.tb input{
  margin-bottom: 30px;
}



.
