#hobby {
  color: #00305c;
}

.ha {
  margin-top: 100px;
}

.ha p{
padding-bottom: 36.3px;
margin: 0;
font-size: 23px;
}

.ha h2 {
  text-align: center;
  margin-top: 70px;
}

.h2 {
  _border-top: solid 3px;
  border-color: white;
    background-color: #22373e;
}

.h3 {
  _border-top: solid 3px;
  _border-bottom: solid 3px;
  border-color: white;
  background-color: #22373e;
}

.h4 {
  _border-top: solid 3px;
  _border-bottom: solid 3px;
  border-color: white;
  background-color: #22373e;
}

#p2 {
  margin-left: 8px;

  text-align:
}

#p3{
  margin-right: 8px;
}

#p4{
  margin-left: 8px;
}

#p5{
  margin-right: 8px;
}
